Source: frozen-bubbles
Maintainer: developer-name <developer-email>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), libssl-dev

Package: frozen-bubbles
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1, openssl, zapata-base (>=0.9), zapata-json (>=0.9), zapata-http (>=0.9), zapata-rest(>=0.9)
Description: frozen-bubbles
 Provides frozen-bubbles
